@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body{background: #fafafa; padding: 0; margin: 0; font-family: 'Open Sans Condensed', sans-serif; font-size: 18px;}
#header {width: 960px; margin: 0 auto;}
#header .logo {width: 500px; float: left;}
	#header .contacts {margin-top: 10px;margin-right: 20px;text-align: right;width: 250px; float: right;}
		#header .contacts a {color: #7e7e7e; text-decoration: none; font-weight: bold;}
		#header .contacts .phone {font-size: 44px;}
		#header .contacts .call-order {font-size: 25px;}

#top_menu {width: 960px; background: #f3f3f3; margin: 0 auto; clear: both;}
#top_menu ul {margin: 0 20px;}
#top_menu ul li {display: inline-block;}
#top_menu ul li a {display: inline-block; color: #7e7e7e; text-decoration: none; padding: 20px 35px;}
#top_menu ul li a:hover {
	background: #28c5e6;
	color: white;
}

#middle {width: 960px; margin: 0 auto; min-height: 300px;}
#middle .left_side{
	float: left;
	width: 267px;
}
#middle .left_side .block h3{
	background: #28c5e6;
	color: white;
}
#middle .left_side .block ul{
	background: #f3f3f3;
}
#middle .main {
	background: green;
	margin-left: 296px;
}

#footer {background: #757373;}
#footer .inner {width: 960px; margin: 0 auto; min-height: 100px;}
